<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Electronic catalog </title>
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
</head>

<body>
    <div id="main">
        <div id="header" align="center"> Электронный каталог </div>
        <div id="category"> Категория
            <div>
                <div> <a href=""> Мониторы </a> </div>
                <li id="mon"> <a href=""> 21" </a> </li>
                <li id="mon"> <a href=""> 19" </a> </li>
            </div>
            <div>
                <div> <a href=""> Процессоры </a> </div>
                <li> <a href=""> AMD </a> </li>
                <li> <a href=""> Intel </a> </li>
            </div>
        </div>
        <div id="content">
            <div> Контент </div>
            {% for product in products %}
                <div id="prod">
                {% if product.img %}
                    <img src="{{ MEDIA_URL }}{{ product.img }}">
                {%  endif %}
                <div id="prod"> {{ product.name }} </div>
                <div id="prod"> {{ product.category }} </div>
                <div id="prod"> {{ product.description }} </div>
                </div>
            {% endfor %}
        </div>
        <div id="clear"></div>
        <div id="footer" align="center"> Дно сайта </div>
    </div>

</body>
</html>
