body, html {
    width: 100%;
    min-width: 1000px;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #ffffff;
}
#main {
    width: 100%;
    min-height: 100%;
}
#header {
    width: 100%;
    font-size: 20px;
    height: 100px;
    text-align: center;
    background: #8AEAF9;
   }
#breadcrumb{
    background: #a8abff;
    width: 100%;
    height: 50px;
    padding: 5px;
    margin: 0;
}
#category {
    width: 20%;
    height: 100%;
    text-align: center;
    float: left;
    background: #8e96ee;
   }
#monitor {
    text-align: center;
    width: 50%;
}
#product-list {
    position: relative;
    float: right;
    width: 80%;
    text-align: center;
    background: #9fd690;
   }
#product-list-item {
    display: inline-block;
    width: 347px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    background: #d6adcb;
}

#product-item {
    display: inline-block;
    width: 347px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    background: #7d7ed6;
}
#pagination {
    margin: 10px;
}
#footer {
    width: 100%;
    font-size: 20px;
    height: 100px;
    text-align: center;
    background: #f9c0bc;
   }
#clear {
    clear: both;
}