<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Electronic catalog </title>
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
</head>

<body>
    <div id="main">
        <div id="header" align="center"> Электронный каталог </div>
        {% block breadcrumb %}
        {% endblock %}
        <div id="category"> Категория
            {% for category in categories %}
               <ul>{% include "catalog/tree_category.html" %}</ul>
            {% endfor %}
        </div>
        {% block content %}
        {% endblock %}
        <div id="footer" align="center"> Дно сайта </div>
    </div>

</body>
</html>
