{% extends 'catalog/base.html' %}
{% block breadcrumb %}
            <div id="breadcrumb" align="left">
                Навигация: <a href="/">Главная/</a>
                {% for category, url in category.breadcrumb %}
                    {% if forloop.last %}
                        {{ category }}
                    {% else %}
                        <a href="{{ url }}">{{ category }}/ </a>
                    {% endif %}
                {% endfor %}
        </div>
{% endblock %}
{% block content %}
    <div id="product-list">
        <div> Контент </div>
        {% for product in products %}
            <div id="product-list-item">
                <img src="{{ product.get_img.url }}" alt="Product">
                <div><a href="{{ product.get_absolute_url }}"> {{ product.name }} </a> </div>
                <div> {{ product.category }} </div>
                <div> {{ product.description }} </div>
            </div>
        {% endfor %}
        {# Pagination of products #}
        <div id="pagination">
            <span>
                {% if products.has_previous %}
                    <a href="?page={{ products.previous_page_number }}">Предыдущая</a>
                {% endif %}

                <span>
                    Page {{ products.number }} of {{ products.paginator.num_pages }}
                </span>

                {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}">Следующая</a>
                {% endif %}
            </span>
        </div>
    </div>
    <div id="clear"></div>
{% endblock %}
