{% extends 'catalog/base.html' %}
{% block breadcrumb %}
    <div id="breadcrumb" align="left">
        Навигация: <a href="/">Главная/</a>
        {% for category, url in product.category.breadcrumb %}
                <a href="{{ url }}">{{ category }}/ </a>
        {% endfor %}
         {{ product.name }}
{#        {% for product, url in product.breadcrumb %}#}
{#            {% if forloop.last %}#}
{#                {{ product }}#}
{#            {% else %}#}
{#                <a href="{{ url }}">{{ product }}/</a>#}
{#            {% endif %}#}
{#        {% endfor %}#}
    </div>
{% endblock %}
{% block content %}
        <div> Контент </div>
            <div id="product-item">
                <img src="{{ product.get_img.url }}" alt="Product">
                <div> {{ product.name }} </div>
                <div> {{ product.category }} </div>
                <div> {{ product.description }} </div>
            </div>
{% endblock %}
